<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @store.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @store.long %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @store.contact_person %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @store.mobile %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
